* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-half {
  flex: 1;
  height: 100%;
}
.right-half {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left-image {
  background-image: url("https://login.otilliauat.carlsberg.com/fd7cc79cfc12848b40d1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}
h3 {
  margin-bottom: 20px;
}
.login-form {
  max-width: 250px;
  display: block;
  width: 100%;
}
.login-form .form-box {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
